<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532416072351-8bek4lcn5vtvoldmvmo07n8h9nr318h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532416072351-8bek4lcn5vtvoldmvmo07n8h9nr318h4</string>
	<key>API_KEY</key>
	<string>AIzaSyCs2SjyIASRge9NXhiSkPnpX4viuGkSA7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>532416072351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.enecom.FlightManagement</string>
	<key>PROJECT_ID</key>
	<string>flightmanagement-c16eb</string>
	<key>STORAGE_BUCKET</key>
	<string>flightmanagement-c16eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532416072351:ios:8674968fb23d2f33ebb0aa</string>
	<key>DATABASE_URL</key>
	<string>https://flightmanagement-c16eb.firebaseio.com</string>
</dict>
</plist>